@keyframes animation-outer-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes animation-inner-spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes animation-slide-left {
    0% {
        transform: translate(100px, 0px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes animation-accepted {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    20% {
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}

@keyframes animation-presented {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    80% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes animation-rejected {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(40px);
    }
    40% {
        transform: translateX(-40px);
    }
    60% {
        transform: translateX(20px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes animation-collapse-right {
    0% {
        transform: translateX(0em);
    }
    100% {
        transform: translateX(1.2em);
    }
}

@keyframes animation-collapse-left {
    0% {
        transform: translateX(0em);
    }
    100% {
        transform: translateX(-1.2em);
    }
}

@keyframes animation-drop {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}

@keyframes animation-jump {
    0% {
        transform: translateY(0px) translateX(0em);
        opacity: 1;
    }
    70% {
        transform: translateY(-80px) translateX(1.3em) rotate(90deg);
        opacity: 1;
    }
    80% {
        transform: translateY(-80px) translateX(1.3em) rotate(90deg);
        opacity: 1;
    }
    100% {
        transform: translateY(0px) translateX(1.3em) rotate(90deg);
        opacity: 0;
    }
}

/* TODO: get these colors from Colors.js eiter during runtime or build time */

@keyframes animation-negation-color {
    0% {
        color: #0079D1;
    }
    100% {
        color: #C75300;
    }
}