@keyframes animation-outer-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes animation-inner-spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes animation-slide-left {
    0% {
        transform: translate(100px, 0px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes animation-wrong {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(40px);
    }
    40% {
        transform: translateX(-40px);
    }
    60% {
        transform: translateX(20px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}
