.Sequence {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: inline-flex;
}


.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.Sequence-Animation-Container {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: inline-flex;
}

.Sequence-Animation-Outer {
    animation: animation-outer-spin 1s ease-out infinite;
}

.Sequence-Animation-Inner {
    animation: animation-inner-spin 1s ease-out infinite;
}

@keyframes animation-outer-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes animation-inner-spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(180deg);
    }
}


